page-forgot-password {

	.white-bg{
   		width: 85%;
   		background : white;
    	margin: 30px auto 0px auto;
      border-radius: 5px;
   }

   .loginPage {
       background-image: url('../assets/imgs/bg.png');
       text-align: center;
   }

   .white-padding{
      padding: 30px 16px;
   }

   .lock-icon{
      font-size: 10px;
      color: grey;
   }

}
