page-sign-up {

	.white-padding{
   		padding: 20px 10px;
   }
   .white-bg{
   		width: 85%;
   		background : white;
    	margin: 30px auto 0px auto;
      border-radius: 5px;
   }

   .uppercase{
	text-transform: capitalize;
	}

	.loginPage {
       background-image: url('../assets/imgs/bg.png');
       text-align: center;
   }

}
